.redBackground{
    background-color: red;
}
.greenBackground{
    background-color: green;
}
.blueBackground{
    background-color: blue;
}
.pinkBackground{
    background-color: pink;
}
.purpleBackground{
    background-color: purple;
}
.yellowBackground{
    background-color: yellow;
}
.whiteBackground{
    background-color: white;
}
.blackBackground{
    background-color: black;
}
#colorPicker{
    display: flex;
    justify-content: center;
}
#body {
    background-color: gray;
}
#grid-container {
    display: flex;
    flex-wrap: wrap;
}
.cell {
    flex: 1 1 60px;
    height: 60px;
}
#chooseColorDiv {
    display: flex;
    justify-content: center;
}
#colorMessageHTML {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}